* Storage                                                                       
* Which DIRMAINT storage group for which mdisk                                  
0100 LINUXOS                                                                    
0200 LINUXOS                                                                    
0400 ORACLE                                                                     
1300 LINUXOS                                                                    
* Use FCP devices 1=on, 0=off                                                   
FCP  1                                                                          
* Use SFS disks as 191, 1=on/yes, 0=off/no (means shared 191)                   
SFS  0                                                                          
*                                                                               
* Network & other definitions                                                   
VLAN 4029                                                                       
GATE_WAY 10.35.4.1                                                              
NET_MASK 24                                                                     
NAME_SERVER 8.8.8.8                                                             
DOMAIN_NAME gdh.nl                                                              
DNS_IP 8.8.8.8                                                                  
