:COLORS.
% ESCAPE
* Color ; Hex value ; Attributres
Y DD PROTECT YELLOW DEFAULT   HIGH    ;y ED NOPROTECT YELLOW DEFAULT   HIGH
W DC PROTECT WHITE  UNDERLINE NOHIGH  ;w EC NOPROTECT WHITE  UNDERLINE NOHIGH
X DB PROTECT WHITE  BLINK     NOHIGH  ;x EB NOPROTECT WHITE  BLINK     NOHIGH
Z DA PROTECT WHITE  REVVIDEO  NOHIGH  ;z EA NOPROTECT WHITE  REVVIDEO  NOHIGH
B CE PROTECT BLUE   DEFAULT   NOHIGH  ;b BE NOPROTECT BLUE   DEFAULT   NOHIGH
C CD PROTECT BLUE   UNDERLINE NOHIGH  ;c BD NOPROTECT BLUE   UNDERLINE NOHIGH
G CC PROTECT GREEN  DEFAULT   HIGH    ;g BC NOPROTECT GREEN  DEFAULT   HIGH
H CB PROTECT GREEN  REVVIDEO  NOHIGH  ;h BB NOPROTECT GREEN  REVVIDEO  NOHIGH
I CA PROTECT GREEN  UNDERLINE NOHIGH  ;i BA NOPROTECT GREEN  UNDERLINE NOHIGH
R DE PROTECT RED    DEFAULT   HIGH    ;r EE NOPROTECT RED    DEFAULT   HIGH
S DF PROTECT RED    UNDERLINE NOHIGH  ;s EF NOPROTECT RED    UNDERLINE NOHIGH
T AA PROTECT RED    REVVIDEO  NOHIGH  ;t AD NOPROTECT RED    REVVIDEO  NOHIGH
P AB PROTECT PINK   DEFAULT   HIGH    ;p AE NOPROTECT PINK   DEFAULT   HIGH
Q AC PROTECT PINK   UNDERLINE NOHIGH  ;q AF NOPROTECT PINK   UNDERLINE NOHIGH
 
 
:REXX.
* Color Syntax_to_color
z ';"
h /*;*/
i If_;Then_;Else_
t Select;When_;Then_Otherwise_;End
r Do_;_While_;_Until;_To_;_By_;End_;Leave_
b Parse_Source_;Parse_Value_;Parse_Arg_;Parse_Upper_Arg_;Parse_Pull_
p Call_;Return_;Signal_
s Wordpos(;Wordlen(;Right(;Left(;Center(;Pos;Lastpos(;Substr(;Subword(;Word(;Translate(;Abs(;Value(;Datatype(
p x2d;d2x;c2x;x2c;d2c;c2d;b2x;x2b
x Queue;Push
c Address;Upper;Arg;Pull;Drop
q (;)
